.main {
    width: 100%;
}

.name {
    font-size: 20px;
}

.downloadDetail {
    margin-top: 8px;
    font-size: 16px;
}

.downloadDetail li {
    margin-bottom: 4px;
}

.downloadDetail li a {
    margin-left: 8px;
}
