{{ $language := .Site.Language.Lang }}
<section class="feature-section">
	<h3>{{ if eq $language "zh"}} 特性一览 {{ else }} Features {{ end }}</h3>
	<ul>
		<li>
			<img  src="{{ .Params.feature1Img | relURL }}" />
			<div> 
			  <h4>{{ .Params.feature1Title}}</h4>
			  <p>{{ .Params.feature1Desc }}</p>
			</div>
		  </li>
		<li> 
			<img  src="{{ .Params.feature2Img | relURL }}" />
			<div>
			  <h4>{{ .Params.feature2Title}}</h4>
			  <p>{{ .Params.feature2Desc }}</p>
			</div>
		</li> 
		<li>
			<img  src="{{ .Params.feature3Img | relURL }}" />
			<div>
			  <h4>{{ .Params.feature3Title}}</h4>
			  <p>{{ .Params.feature3Desc }}</p>
			</div>
		  </li>
		<li>
			<img  src="{{ .Params.feature4Img | relURL }}" />
			<div>
			  <h4>{{ .Params.feature4Title}}</h4>
			  <p>{{ .Params.feature4Desc }}</p>
			</div>
		</li>
		<li>
			<img  src="{{ .Params.feature5Img | relURL }}" />
			<div>
			  <h4>{{ .Params.feature5Title}}</h4>
			  <p>{{ .Params.feature5Desc }}</p>
			</div>
		  </li>
		<li>
			<img  src="{{ .Params.feature6Img | relURL }}" />
			<div>
			  <h4>{{ .Params.feature6Title}}</h4>
			  <p>{{ .Params.feature6Desc }}</p>
			</div>
		</li>
	</ul>
  </section>