.ss-list {
  .list-title {
    font-size: 30px;
    font-weight: 450;
    color: $text-color;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include mobile {
      flex-direction: column;
    }
  }

  
  .ss-guide-card {
    width: 31%;
    margin-bottom: 24px;
    margin-right: 24px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include tablet {
      width: 46%;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 24px;
      }
    }

    @include mobile {
      width: 100%;
      margin: 0;
      margin-bottom: 16px;
    }
  }

  .ss-project-card {
    width: 22.5%;
    margin:0 12px 24px;
    box-shadow: 1px 1px 8px 10px #2c9aff08;
    background-color:rgba(255,255,255,0.3);
    padding: 14px;
    @include tablet {
      width: 46%;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 24px;
      }
    }

    @include mobile {
      width: 100%;
      margin: 0;
      margin-bottom: 16px;
    }
    
    .project-button-groups{
      width: 100%;
      margin-top: 14px;
      display: flex;
      justify-content: space-between;
      .project-button {
        display: inline-block;
        width: 70px;
        height: 30px;
        line-height: 30px;
        color: $text-color-dark;
        background-color: #2274de;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: center;
  
        &.-outline {
          color: #2274de;
          background-color: rgba($color: #000000, $alpha: 0);
          border: 1px solid #2274de;
          box-shadow: none;
        }
  
        &.-shadow {
          box-shadow: 0 4px 16px 0 rgba(24, 144, 255, 0.30);
        }
      }
    }

  }

  .-selected{
    background-color:rgba(255,255,255,0.7);
    border: 1px solid rgb(255,255,255);
    box-shadow: 1px 1px 8px 10px rgba(27 ,31 ,35 , 0.09);
  }

  .-display{
    display: block!important;
  }

  .introduction-section {
    display: none;
    .introduction-body {
      max-width: 1280px;
      box-sizing: border-box;
      margin: 0 auto;
      min-height: 640px;
      padding: 0 40px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 40px;
        height: 165px;
        opacity: 0.3;
        border-right: 1px solid #666;
      }
      &::after {
        content: "";
        position: absolute;
        left: 39px;
        top: 165px;
        width: 3px;
        height: 17px;
        background-image: linear-gradient( 0deg, #243949 0%, #4C6B8E 51%, #517fa4 100%);
      }
      .introduction {
        display: inline-block;
        width: calc(100% - 726px);
        min-width: 300px;
        max-width: 590px;
        h3 {
          font-family: Avenir-Heavy;
          font-size: 36px;
          color: #333;
          font-weight: 500;
          margin-bottom: 40px;
          word-break: break-word;
        }
        p {
          opacity: 0.56;
          font-family: Avenir-Medium;
          font-size: 18px;
          color: black;
        }
      }
      img {
        width: 562px;
        margin: 0 82px;
        max-width: 100%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
      }
      @media screen and (max-width: 1106px) {
        .introduction {
          display: inline-block;
          width: 100%;
          max-width: 100%;
        }
        img {
          margin: 0;
        }
      }
    }
  }

  .feature-section {
    display: none;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding: 80px 0px 40px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      height: 83px;
      opacity: 0.3;
      border-right: 1px solid #666;
    }
    &::after {
      content: "";
      position: absolute;
      top: 66px;
      left: 50%;
      transform: translateX(-50%);
      width: 3px;
      height: 17px;
      background-image: linear-gradient( 0deg, #243949 0%, #4C6B8E 51%, #517fa4 100%);
    }
    h3 {
      font-family: Avenir-Heavy;
      font-size: 36px;
      font-weight: 500;
      color: #333;
      text-align: center;
      margin: 0 0 40px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        vertical-align: top;
        display: inline-block;
        margin-bottom: 40px;
        width: 48%;
        img {
          vertical-align: top;
          width: 60px;
          height: 60px;
          margin-right: 20px;
        }
        div {
          display: inline-block;
          width: 80%;
          h4 {
            font-family: Avenir-Heavy;
            font-size: 20px;
            color: #333;
            margin-top: 10px;
          }
          p {
            font-family: Avenir-Medium;
            font-size: 14px;
            line-height: 20px;
            color: #999;
          }
        }
      }
      @media screen and (max-width: 768px) {
        li {
          width: 100%;
        }
      }
    }
  }

}

.particles_bg{
  position: absolute;
  top: 0px;
  width: 100%;
}

.ss-project-card {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mobile {
    margin-left: 16px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.header-first {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }

  .project-icon {
    width: 100px;
    margin-right: 16px;
  }

  .card-title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: $text-color;
  }

  .gitstar {
		margin-left: 16px;
  }

  .card-content {
    margin: 0;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
    color: $text-color-secondary;
  }
}

.ss-guide-card {
  min-height: 140px;

  .card-title {
    margin: 0;
    font-size: 16px;
    color: $text-color-link;
    cursor: pointer;
  }

  .card-content {
    margin: 0;
    margin-top: 8px;
    font-size: 14px;
  }
}
