.top{
    height: 180px;
}

.title{
    text-align: center;
    font-size: 1.75rem;
    color: var(--ifm-color-primary);
    font-weight: bold;
    margin: 70px 0 40px 0;
}

.description{
    text-align: center;
}

.descriptionLine{
    margin: -10px 0 15px 0;
}

.descriptionLineHref{
    margin-left: 8px;
}

.content{
    min-height: 600px;
    background-color: #F2F4F7;
}

.documentList{
    padding: 30px 200px 30px 200px;
    display: flex;
    flex-wrap: wrap;
}

.docItem{
    margin: 20px;
    width: 45%;
    border-radius: 10px;
    padding: 10px 20px;
}

.docsTitle{
    font-size: 20px;
    font-weight: bold;
}

.cardItem{
    margin: 20px 0px;
    min-height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.descriptionCardTitle{
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.descriptionCardDescription{
    color: #475467;
    font-size: 15px;
    margin: 10px 0px;
}

.descriptionCardLinks{
    font-size: 16px;
    display: flex;
    margin: auto 0 10px 0;
}

.descriptionCardLinksSpan{
    margin: 0 8px;
    color: var(--ifm-link-color);
}

.downloadCardButton {
    font-family: inherit;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    padding: .25rem .5rem;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    color: var(--ifm-link-color);
}

.downloadCardButton::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropDownContainer{
    padding: .5rem 0;
    margin: .125rem 0 0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
    width: 150px;
    background-color: #FFF;
    position: absolute;
    max-height: 300px;
    overflow-y: scroll;
}

.linkItem:hover{
    background-color: #F2F4F7;
}

.linkItemA{
    color: #000;
    margin: 2px 10px 2px 10px;
    display: block;
    width: 100%;
}

.linkItemA:hover{
    text-decoration: none;
    color: #000;
}