.top{
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 1.75rem;
    color: var(--ifm-color-primary);
    font-weight: bold;
}

.content{
    background-color: #F2F4F7;
}

.newsList{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardItem{
    margin: 5px;
    display: flex;
    height: auto;
    min-height: 12.5rem;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.cardInfo{
    margin: 20px 30px 20px 30px;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cardDate{
    font-size: 0.625rem;
    margin-bottom: 15px;
}

.cardTitle{
    font-size: 1.125rem;
    font-weight: bold;
}

.cardDesc{
    font-size: 14px;
    font-weight: bold;
    color: #475467;
}

.cardImage{
    margin: 20px 0px 20px 30px;
    width: 13rem;
}

.readMore:hover{
    cursor:pointer;
}

.link:hover{
    text-decoration: none;
}

.readMore{
    align-self: flex-end;
    display: flex;
    justify-content: end;
    font-size: 0.75rem;
    color: var(--ifm-color-primary);
    margin-top: 30px;
    background-color: #FFFFFF;
    border: #FFFFFF;
}


@media screen and (max-width: 996px) {
    .cardItem{
        margin: 5px;
        display: flex;
        height: auto;
        min-height: 200px;
        width: 90%;
        background-color: #FFFFFF;
        border-radius: 10px;
    }

    .cardImage{
        margin: 10px 0px 20px 10px;
        width: 13rem;
    }
}

@media screen and (max-width: 500px) {
    .cardImage{
        display: none;
    }
    .cardInfo{
        width: 100%;
    }
}