.top{
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 28px;
    color: var(--ifm-color-primary);
    font-weight: bold;
}

.content{
    background-color: #F2F4F7;
}

.newsList{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardItem{
    margin: 5px;
    display: flex;
    height: auto;
    min-height: 200px;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.cardInfo{
    margin: 20px 30px 20px 30px;
    width: 70%;
}

.cardDate{
    font-size: 10px;
    margin-bottom: 15px;
}

.cardTitle{
    font-size: 18px;
    font-weight: bold;
}

.cardDesc{
    font-size: 14px;
    font-weight: bold;
    color: #475467;
}

.cardImage{
    margin: 20px 0px 20px 30px;
    /* height: auto;
    max-height: 180px; */
    width: 210px;
}

.readMore:hover{
    cursor:pointer;
}

.readMore{
    font-size: 12px;
    color: var(--ifm-color-primary);
    margin-left: 78%;
    margin-top: 30px;
    background-color: #FFFFFF;
    border: #FFFFFF;
    /* font-weight: bold; */
}